<div>
    <h2 translate="consultorioOnlineUiApp.gynecoobstetricBkg.home.title">GynecoobstetricBkgs</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="gynecoobstetricBkg.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="consultorioOnlineUiApp.gynecoobstetricBkg.home.createLabel">Create new GynecoobstetricBkg
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'consultorioOnlineUiApp.gynecoobstetricBkg.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.menarche">Menarche</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.begginingSexualLife">BegginingSexualLife</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.pregnanciesNumber">PregnanciesNumber</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.miscarriagesNumber">MiscarriagesNumber</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.cSectionsNumber">CSectionsNumber</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.pregnancyDetails">PregnancyDetails</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.latestPapTest">LatestPapTest</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.latestPapTestDetails">LatestPapTestDetails</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.latestMammography">LatestMammography</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.latestMammographyDetails">LatestMammographyDetails</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.usesContraceptives">UsesContraceptives</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.hasMenopause">HasMenopause</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.contraceptivess">contraceptivess</span></th>
                    <th><span translate="consultorioOnlineUiApp.gynecoobstetricBkg.patients">patients</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gynecoobstetricBkg in gynecoobstetricBkgs track by gynecoobstetricBkg.id">
                    <td><a ui-sref="gynecoobstetricBkg.detail({id:gynecoobstetricBkg.id})">{{gynecoobstetricBkg.id}}</a></td>
                        <td>{{gynecoobstetricBkg.menarche | date:'mediumDate'}}</td>
                        <td>{{gynecoobstetricBkg.begginingSexualLife | date:'mediumDate'}}</td>
                    <td>{{gynecoobstetricBkg.pregnanciesNumber}}</td>
                    <td>{{gynecoobstetricBkg.miscarriagesNumber}}</td>
                    <td>{{gynecoobstetricBkg.cSectionsNumber}}</td>
                    <td>{{gynecoobstetricBkg.pregnancyDetails}}</td>
                        <td>{{gynecoobstetricBkg.latestPapTest | date:'mediumDate'}}</td>
                    <td>{{gynecoobstetricBkg.latestPapTestDetails}}</td>
                        <td>{{gynecoobstetricBkg.latestMammography | date:'mediumDate'}}</td>
                    <td>{{gynecoobstetricBkg.latestMammographyDetails}}</td>
                    <td>{{gynecoobstetricBkg.usesContraceptives}}</td>
                    <td>{{gynecoobstetricBkg.hasMenopause}}</td>
                    <td>
                        <span ng-repeat="contraceptivess in gynecoobstetricBkg.contraceptivesss">
                            <a class="form-control-static" ui-sref="contraceptives.detail({id: {{contraceptivess.id}}})">{{contraceptivess.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <a ui-sref="patient.detail({id:gynecoobstetricBkg.patients.id})">{{gynecoobstetricBkg.patients.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="gynecoobstetricBkg.detail({id:gynecoobstetricBkg.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gynecoobstetricBkg.edit({id:gynecoobstetricBkg.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gynecoobstetricBkg.delete({id:gynecoobstetricBkg.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
