
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPatientLabel" translate="consultorioOnlineUiApp.patient.home.createOrEditLabel">Create or edit a Patient</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="patient.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineUiApp.patient.firstName" for="field_firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="patient.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineUiApp.patient.middleName" for="field_middleName">MiddleName</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                    ng-model="patient.middleName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineUiApp.patient.lastName" for="field_lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="patient.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineUiApp.patient.dateOfBirth" for="field_dateOfBirth">DateOfBirth</label>
                <div class="input-group">
                    <input id="field_dateOfBirth" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="patient.dateOfBirth" is-open="datePickerForDateOfBirth.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForDateOfBirthOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineUiApp.patient.job" for="field_job">Job</label>
            <input type="text" class="form-control" name="job" id="field_job"
                    ng-model="patient.job"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineUiApp.patient.bloodType" for="field_bloodType">BloodType</label>
            <select class="form-control" name="bloodType" ng-model="patient.bloodType" id="field_bloodType">
                <option value="A_POSITIVE" translate="consultorioOnlineUiApp.BloodType.A_POSITIVE">A_POSITIVE</option>
                <option value="A_NEGATIVE" translate="consultorioOnlineUiApp.BloodType.A_NEGATIVE">A_NEGATIVE</option>
                <option value="B_POSITIVE" translate="consultorioOnlineUiApp.BloodType.B_POSITIVE">B_POSITIVE</option>
                <option value="B_NEGATIVE" translate="consultorioOnlineUiApp.BloodType.B_NEGATIVE">B_NEGATIVE</option>
                <option value="AB_POSITIVE" translate="consultorioOnlineUiApp.BloodType.AB_POSITIVE">AB_POSITIVE</option>
                <option value="AB_NEGATIVE" translate="consultorioOnlineUiApp.BloodType.AB_NEGATIVE">AB_NEGATIVE</option>
                <option value="O_POSITIVE" translate="consultorioOnlineUiApp.BloodType.O_POSITIVE">O_POSITIVE</option>
                <option value="O_NEGATIVE" translate="consultorioOnlineUiApp.BloodType.O_NEGATIVE">O_NEGATIVE</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="consultorioOnlineUiApp.patient.addresss" for="field_addresss">addresss</label>
            <select class="form-control" id="field_addresss" name="addresss" ng-model="patient.addresss" ng-options="address as address.id for address in addressss | orderBy:'id' track by address.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="consultorioOnlineUiApp.patient.contacts" for="field_contacts">contacts</label>
            <select class="form-control" id="field_contacts" name="contacts" ng-model="patient.contacts" ng-options="contact as contact.id for contact in contactss | orderBy:'id' track by contact.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
