<div>
    <h2 translate="consultorioOnlineUiApp.consultation.home.title">Consultations</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="consultation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="consultorioOnlineUiApp.consultation.home.createLabel">Create new Consultation
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'consultorioOnlineUiApp.consultation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.consultationDate">ConsultationDate</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.idx">Idx</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.diferentialDiagnostic">DiferentialDiagnostic</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.tests">tests</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.treatments">treatments</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.symptoms">symptoms</span></th>
                    <th><span translate="consultorioOnlineUiApp.consultation.patients">patients</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consultation in consultations track by consultation.id">
                    <td><a ui-sref="consultation.detail({id:consultation.id})">{{consultation.id}}</a></td>
                        <td>{{consultation.consultationDate | date:'mediumDate'}}</td>
                    <td>{{consultation.idx}}</td>
                    <td>{{consultation.diferentialDiagnostic}}</td>
                    <td>
                        <span ng-repeat="tests in consultation.testss">
                            <a class="form-control-static" ui-sref="labTest.detail({id: {{tests.id}}})">{{tests.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <a ui-sref="treatment.detail({id:consultation.treatments.id})">{{consultation.treatments.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="symptoms in consultation.symptomss">
                            <a class="form-control-static" ui-sref="symptom.detail({id: {{symptoms.id}}})">{{symptoms.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <a ui-sref="patient.detail({id:consultation.patients.id})">{{consultation.patients.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="consultation.detail({id:consultation.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consultation.edit({id:consultation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consultation.delete({id:consultation.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
