
<div>
    <h2><span translate="consultorioOnlineUiApp.consultation.detail.title">Consultation</span> {{consultation.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.consultationDate">ConsultationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{consultation.consultationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.idx">Idx</span>
                </td>
                <td>
                    <span class="form-control-static">{{consultation.idx}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.diferentialDiagnostic">DiferentialDiagnostic</span>
                </td>
                <td>
                    <span class="form-control-static">{{consultation.diferentialDiagnostic}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.tests">tests</span>
                </td>
                <td>
                    <span ng-repeat="tests in consultation.testss">
                        <a class="form-control-static" ui-sref="labTest.detail({id: {{tests.id}}})">{{tests.id}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.treatments">treatments</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="treatment.detail({id:consultation.treatments.id})">{{consultation.treatments.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.symptoms">symptoms</span>
                </td>
                <td>
                    <span ng-repeat="symptoms in consultation.symptomss">
                        <a class="form-control-static" ui-sref="symptom.detail({id: {{symptoms.id}}})">{{symptoms.id}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="consultorioOnlineUiApp.consultation.patients">patients</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="patient.detail({id:consultation.patients.id})">{{consultation.patients.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
