
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myConsultationLabel" translate="consultorioOnlineAppApp.consultation.home.createOrEditLabel">Create or edit a Consultation</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="consultation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineAppApp.consultation.consultationDate" for="field_consultationDate">ConsultationDate</label>
                <div class="input-group">
                    <input id="field_consultationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="consultation.consultationDate" is-open="datePickerForConsultationDate.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForConsultationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineAppApp.consultation.idx" for="field_idx">Idx</label>
            <input type="text" class="form-control" name="idx" id="field_idx"
                    ng-model="consultation.idx"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consultorioOnlineAppApp.consultation.diferentialDiagnostic" for="field_diferentialDiagnostic">DiferentialDiagnostic</label>
            <input type="text" class="form-control" name="diferentialDiagnostic" id="field_diferentialDiagnostic"
                    ng-model="consultation.diferentialDiagnostic"
                     />
        </div>

        <div class="form-group">
            <label translate="consultorioOnlineAppApp.consultation.tests" for="field_tests">tests</label>
            <select class="form-control" id="field_tests" multiple name="tests" ng-model="consultation.testss" ng-options="labTest as labTest.id for labTest in labtests track by labTest.id"></select>
        </div>
        <div class="form-group">
            <label translate="consultorioOnlineAppApp.consultation.treatments" for="field_treatments">treatments</label>
            <select class="form-control" id="field_treatments" name="treatments" ng-model="consultation.treatments" ng-options="treatment as treatment.id for treatment in treatmentss | orderBy:'id' track by treatment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="consultorioOnlineAppApp.consultation.symptoms" for="field_symptoms">symptoms</label>
            <select class="form-control" id="field_symptoms" multiple name="symptoms" ng-model="consultation.symptomss" ng-options="symptom as symptom.id for symptom in symptoms track by symptom.id"></select>
        </div>
        <div class="form-group">
            <label translate="consultorioOnlineAppApp.consultation.patients" for="field_patients">patients</label>
            <select class="form-control" id="field_patients" name="patients" ng-model="consultation.patients" ng-options="patient as patient.id for patient in patients track by patient.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
